body{
    font-family: 'Times New Roman', Times, serif;
}
.head{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    background-color: antiquewhite;
    align-items: center;
}
.head .sejong{
    padding-left: 200px;
}
.first{
    max-width: 700px;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    margin-top:10px;
    border: 2px dashed yellow
}
.first .edu{
    background-color:antiquewhite;
    font-size: 12px;
    font-weight: bold;
    
}
.first .m1{
    font-style: oblique;
    background-color: aquamarine;
}
.first .content{
    margin-top: 10px;
}
.content .bs{
    padding-top:10px;
    padding-bottom:10px;
}

.first .m2{
    font-style: oblique;
    background-color: aquamarine;
}
.first .content2{
    margin-top: 10px;
}
.content .bs2{
    padding-top:10px;
    padding-bottom:10px;
}

.first .m3{
    font-style: oblique;
    background-color: aquamarine;
}
.first .content3{
    margin-top: 10px;
}
.content .bs3{
    padding-top:10px;
    padding-bottom:10px;
}
.second{
    max-width: 700px;
    margin: 0 auto;
    background-color: lightblue;
    margin-top:10px;
    border: 2px dashed yellow
}

.second .edu2{
    background-color:antiquewhite;
    font-size: 12px;
    font-weight: bold;
    
}

.second .content{
    margin-top: 10px;
}


.third{
    max-width: 700px;
    margin: 0 auto;
    background-color: lightgray;
    margin-top:10px;
    border: 2px dashed yellow
}
.third .edu2{
    background-color:antiquewhite;
    font-size: 12px;
    font-weight: bold;
    
}

.third .content{
    margin-top: 10px;
}
